In [1]:
from bs4 import BeautifulSoup, NavigableString
import requests
from time import sleep
from random import randint
import math
from tqdm import tqdm
import pickle
import pandas as pd
from datetime import date
from datetime import datetime
import json

import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine, text  # for establishing the connection and authentication


from webscraper.scrap_modules import scraper_ds as mybib


%load_ext autoreload
%autoreload 2

### Importing keywords

In [2]:
keyword_list = mybib.import_keyword_list()
keyword_list

['Data%20Analyst']

### Scraping Prep
- connect with MySQL to get id's
- create empty DataFrame for saving scraping results
- print results for check

In [3]:
sql_data = mybib.connect_sql_database()
scraper_df = mybib.initialize_empty_df()

print("Overview SQL Database")
display(sql_data.head(5))
display(sql_data.tail(5))

print("Empty Dataframe")
display(scraper_df)

print("Overview ID control")
id_control = sql_data['id'].tolist()
id_control

Overview SQL Database

Empty DataFrame
Columns: [id, title, company, city, posting_date, job_description, seniority_level, job_function, industries, scraping_date, url, keyword]
Index: []

Empty DataFrame
Columns: [id, title, company, city, posting_date, job_description, seniority_level, job_function, industries, scraping_date, url, keyword]
Index: []

Empty Dataframe

Empty DataFrame
Columns: [id, title, company, city, posting_date, job_description, seniority_level, job_function, industries, scraping_date, url, keyword]
Index: []

Overview ID control

[]

In [21]:
dataframe, dict = mybib.total_loop_rough_keywords(keyword_list, scraper_df, id_control)

[autoreload of webscraper.scrap_modules.scraper_ds failed: Traceback (most recent call last):
  File "C:\Users\Domen\AppData\Roaming\Python\Python310\site-packages\IPython\extensions\autoreload.py", line 276, in check
    superreload(m, reload, self.old_objects)
  File "C:\Users\Domen\AppData\Roaming\Python\Python310\site-packages\IPython\extensions\autoreload.py", line 475, in superreload
    module = reload(module)
  File "C:\Users\Domen\anaconda3\lib\importlib\__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 619, in _exec
  File "<frozen importlib._bootstrap_external>", line 879, in exec_module
  File "<frozen importlib._bootstrap_external>", line 1017, in get_code
  File "<frozen importlib._bootstrap_external>", line 947, in source_to_code
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "c:\Users\Domen\IronHack\01_projects\IH_final_project_data-jobs\webscraper\scrap_modules\scraper_ds.py", line 172
    job_dict['job_description'] = soup.("section",{"class":"show-more-less-html"}).get_text()
                                       ^
SyntaxError: invalid syntax
]

Start creating backend links for Data Analyst. Total of found pages: 2

Start extracting ids from https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Data%20Analyst&location=Berlin%2C%20Berlin%2C%20Germany&locationId=&geoId=104944500&f_TPR=&distance=25&f_E=2%2C3%2C4&position=1&start=0
base-card div not found for this job.
I will sleep for 3.649 seconds.

Start extracting ids from https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=Data%20Analyst&location=Berlin%2C%20Berlin%2C%20Germany&locationId=&geoId=104944500&f_TPR=&distance=25&f_E=2%2C3%2C4&position=1&start=25
I will sleep for 3.239 seconds.

Sleep 2162 seconds:  22%|█████████████▉                                                | 11/49 [00:01<00:04,  7.92it/s]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
0,3707596225,Senior Data Analyst (f/m/d),Clariness,"Berlin, Germany",1 week ago,"([Full-time; unlimited -], [Engaging with key ...",Mid-Senior level,Contract,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2819 seconds:  27%|████████████████▍                                             | 13/49 [00:05<00:10,  3.37it/s]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
1,3694298306,(Senior) Data Analyst (m/f/d) - Customer Data,MOIA,"Berlin, Germany",1 month ago,([Analyze transactional data to identify trend...,Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2444 seconds:  29%|█████████████████▋                                            | 14/49 [00:08<00:22,  1.53it/s]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
2,3701510210,Data Analyst (w/m/d),Qualitas Energy Deutschland GmbH,"Berlin, Berlin, Germany",3 weeks ago,"([Eigenständiges Durchsuchen, Aufbereiten und ...",Entry level,Full-time,Financial Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 471 seconds:  31%|███████████████████▎                                           | 15/49 [00:12<00:32,  1.04it/s]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
3,3723261476,BI Analyst,Scoutbee,"Berlin, Germany",1 day ago,([Data-driven & analytics mindset : Utilize a ...,Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 1342 seconds:  33%|████████████████████▏                                         | 16/49 [00:14<00:36,  1.12s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
4,3641771902,Senior Data Analyst (m/f/d),Pitch,"Berlin, Germany",3 months ago,([Inform and influence our growth and product ...,Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 1822 seconds:  35%|█████████████████████▌                                        | 17/49 [00:16<00:44,  1.41s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
5,3582381366,Young Professional Client Data Analyst (m/f/d) ←,Talentschmiede Unternehmensberatung AG,"Berlin, Berlin, Germany",5 months ago,([Responsibility for the analysis of data stru...,Entry level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 836 seconds:  37%|███████████████████████▏                                       | 18/49 [00:19<00:51,  1.65s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
6,3674803883,(Senior) Data Analyst (all genders),Native Instruments,"Berlin, Germany",2 months ago,"([Evaluate user experience, engagement and pur...",Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2658 seconds:  39%|████████████████████████                                      | 19/49 [00:22<00:53,  1.77s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
7,3708672280,Senior Data Analyst,Gemma Analytics,"Berlin, Berlin, Germany",3 weeks ago,([2 or more years of experience as an analyst ...,Mid-Senior level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 1403 seconds:  41%|█████████████████████████▎                                    | 20/49 [00:25<01:09,  2.40s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
8,3713235511,Wissenschaftlicher Mitarbeiter / Data Analyst ...,Charité - Universitätsmedizin Berlin,"Berlin, Berlin, Germany",2 weeks ago,([Analyse von Massenzytometriedaten und statis...,Entry level,Full-time,Hospitals and Health Care,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 1629 seconds:  43%|██████████████████████████▌                                   | 21/49 [00:27<01:05,  2.33s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
9,3720128757,DataAnalyst&SystemDeveloper (m/f/d),Qcells Europe,"Berlin, Berlin, Germany",1 week ago,([Sie interagieren und unterstützen unseren Re...,Entry level,Full-time,Renewable Energy Semiconductor Manufacturing,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 102 seconds:  45%|████████████████████████████▎                                  | 22/49 [00:30<01:03,  2.34s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
10,3694036752,Data Analyst VIE,Alstom,"Hennigsdorf, Brandenburg, Germany",1 month ago,"([Data quality, Define and roll-out strategy f...",Entry level,Full-time,Truck Transportation and Railroad Equipment Ma...,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2590 seconds:  47%|█████████████████████████████                                 | 23/49 [00:35<00:49,  1.92s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
11,3712833846,Senior BI Analyst (f/m/d),Enter,"Berlin, Berlin, Germany",1 week ago,([Working software over comprehensive document...,Mid-Senior level,Full-time,Architecture and Planning,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2285 seconds:  49%|██████████████████████████████▎                               | 24/49 [00:38<01:26,  3.45s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
12,3713068792,Data Analyst (m/w/d) Klimadaten,Michael Page,"Berlin, Berlin, Germany",1 month ago,([Pionier in Grüner Energie|Internationales Un...,Associate,Full-time,"IT Services and IT Consulting, Telecommunicati...",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 629 seconds:  51%|████████████████████████████████▏                              | 25/49 [00:42<01:20,  3.34s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
13,3690755622,Business Intelligence Analyst (m/f/d) - German...,GotPhoto.com | fotograf.de,"Berlin, Berlin, Germany",1 month ago,([Develop interactive dashboards utilizing Met...,Mid-Senior level,Full-time,Internet Publishing,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 106 seconds:  53%|█████████████████████████████████▍                             | 26/49 [00:43<01:09,  3.03s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
14,3710653394,Data Analyst im Marketing-Bereich (m/w/d),Lloyds Bank GmbH,"Berlin, Berlin, Germany",2 weeks ago,"([Erstellung von Reports, Analysen und Ad-hoc-...",Entry level,Full-time,Banking,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2471 seconds:  55%|██████████████████████████████████▏                           | 27/49 [00:45<00:52,  2.39s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
15,3697730282,Data Extraction and Analysis Engineer,delphai,"Berlin, Berlin, Germany",3 weeks ago,"([Develop, deploy, and maintain web scraping t...",Entry level,Full-time,Software Development,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2181 seconds:  57%|███████████████████████████████████▍                          | 28/49 [00:48<00:58,  2.80s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
16,3688655136,Analytics Engineer,Volt.io,"Berlin, Berlin, Germany",1 month ago,"([Data Model and Architecture Design:, Collabo...",Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2925 seconds:  59%|████████████████████████████████████▋                         | 29/49 [00:51<00:57,  2.90s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
17,3679310304,Data Engineer (w/m/d),Kassenärztliche Bundesvereinigung,"Berlin, Berlin, Germany",1 month ago,([You will model and implement Business Intell...,Entry level,Part-time,Advertising Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 795 seconds:  61%|██████████████████████████████████████▌                        | 30/49 [00:55<00:58,  3.08s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
18,3694113016,Data Scientist / Data Analyst (m/w/d),energicos GmbH,"Kleinmachnow, Brandenburg, Germany",4 weeks ago,([Konzeptionellen und planerischen Aufgaben im...,Entry level,Full-time,"Renewable Energy Semiconductor Manufacturing, ...",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 298 seconds:  63%|███████████████████████████████████████▊                       | 31/49 [00:57<00:47,  2.61s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
19,3704998318,Data Engineer (m/f/d),Raisin,"Berlin, Berlin, Germany",3 weeks ago,([Being a member of the Revenue team at Raisin...,Mid-Senior level,Full-time,Banking,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 1714 seconds:  65%|████████████████████████████████████████▍                     | 32/49 [00:58<00:39,  2.33s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
20,3722320318,Data Engineer (m/w/d),CBTW,"Berlin, Berlin, Germany",2 days ago,([Entwicklung und Umsetzung von Business Intel...,Entry level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2616 seconds:  67%|█████████████████████████████████████████▊                    | 33/49 [01:00<00:37,  2.36s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
21,3719931304,ESG-Data & Impact Reporting Analyst,DKB | Deutsche Kreditbank AG,"Berlin, Berlin, Germany",1 week ago,([Du unterstützt das Sustainability Office der...,Mid-Senior level,Full-time,Banking,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 860 seconds:  69%|███████████████████████████████████████████▋                   | 34/49 [01:03<00:39,  2.62s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
22,3463183538,(Junior) Consultant Intelligent Analytics and ...,BearingPoint,"Berlin, Berlin, Germany",2 weeks ago,([Du arbeitest in spannenden Projekten bei der...,Mid-Senior level,Full-time,Business Consulting and Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2653 seconds:  71%|████████████████████████████████████████████▎                 | 35/49 [01:05<00:32,  2.33s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
23,3699420235,Cloud Data Analyst (m/w/d),Michael Page,"Berlin, Berlin, Germany",3 weeks ago,"([Power BI, SQL und Azure als Alltag|Bundeswei...",Associate,Full-time,"IT Services and IT Consulting, Telecommunicati...",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2020 seconds:  73%|█████████████████████████████████████████████▌                | 36/49 [01:09<00:34,  2.65s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
24,3582374933,Young Professional Client Data Analyst (m/w/d) ←,Talentschmiede Unternehmensberatung AG,"Berlin, Berlin, Germany",5 months ago,([Sie sind für die Analyse von Datenstrukturen...,Entry level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2479 seconds:  76%|██████████████████████████████████████████████▊               | 37/49 [01:11<00:32,  2.70s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
25,3715330729,Wissenschaftlicher Mitarbeiter / Data Analyst ...,CHARITE UNIVERSITATSMEDIZIN BERLIN,"Berlin, Berlin, Germany",1 week ago,([Analyse von Massenzytometriedaten und statis...,Mid-Senior level,Full-time,Civic and Social Organizations,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2580 seconds:  78%|████████████████████████████████████████████████              | 38/49 [01:15<00:31,  2.87s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
26,3698380278,Data Analyst:in mit Schwerpunkt Marketing,Vattenfall,"Berlin, Germany",4 weeks ago,([Planung und Weiterentwicklung der Analyseans...,Associate,Full-time,Utilities,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 1372 seconds:  80%|█████████████████████████████████████████████████▎            | 39/49 [01:18<00:29,  3.00s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
27,3674539739,Senior Data & BI Analyst (all genders),Universal Music Deutschland,"Berlin, Germany",4 weeks ago,([Du führst eigenverantwortlich ganzheitliche ...,Associate,Full-time,Musicians,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2263 seconds:  84%|███████████████████████████████████████████████████▉          | 41/49 [01:21<00:21,  2.74s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
28,3698393103,Consultant - Digital Analytics (m/w/d) for Berlin,Digitl,"Berlin, Berlin, Germany",4 weeks ago,([As a Consultant Digital Analytics you will d...,Mid-Senior level,Full-time,Advertising Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 153 seconds:  86%|██████████████████████████████████████████████████████         | 42/49 [01:23<00:16,  2.29s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
29,3712061807,Werkstudent*In (d/w/m) Business Intelligence &...,Business Insider Deutschland,"Berlin, Berlin, Germany",2 weeks ago,([Du unterstützt bei der Erstellung individuel...,Entry level,Part-time,Newspaper Publishing,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2617 seconds:  88%|██████████████████████████████████████████████████████▍       | 43/49 [01:24<00:11,  1.94s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
30,3638551593,Data Engineer (f/m/d),BMG - The New Music Company,"Berlin, Germany",3 months ago,"([Work closely with the business users, develo...",Entry level,Full-time,Research and Marketing Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 1383 seconds:  90%|███████████████████████████████████████████████████████▋      | 44/49 [01:28<00:11,  2.32s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
31,3724750965,Online Data Analyst,TELUS International,"Potsdam, Brandenburg, Germany",1 day ago,([Full Professional Proficiency in English and...,Entry level,Contract,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2085 seconds:  92%|████████████████████████████████████████████████████████▉     | 45/49 [01:31<00:09,  2.45s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
32,3720129659,Data Engineer Specialist (m/f/d),Qcells Europe,"Berlin, Berlin, Germany",1 week ago,([You create and maintain optimal data pipelin...,Entry level,Full-time,Renewable Energy Semiconductor Manufacturing,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 1044 seconds:  94%|██████████████████████████████████████████████████████████▏   | 46/49 [01:34<00:07,  2.57s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
33,3590312287,Data Center Engineer L2 (On Demand),DeRisk Technologies,"Berlin, Berlin, Germany",5 months ago,"([Servers (Virtual & Physical), Storage & Back...",Associate,Contract,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 744 seconds:  96%|████████████████████████████████████████████████████████████▍  | 47/49 [01:35<00:04,  2.38s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
34,3700038161,(Senior) Data Analyst (m/w/d),SIXT,"Berlin, Berlin, Germany",3 weeks ago,"([Du bist dafür verantwortlich, aus unterschie...",Mid-Senior level,Full-time,Travel Arrangements,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2758 seconds:  98%|████████████████████████████████████████████████████████████▋ | 48/49 [01:38<00:02,  2.10s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
35,3700488094,Business Intelligence Consultant (m/f/d) (2),Machine Learning Reply GmbH,"Berlin, Berlin, Germany",3 weeks ago,([Formulate business needs and translate needs...,Entry level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

Sleep 2758 seconds: 100%|██████████████████████████████████████████████████████████████| 49/49 [01:40<00:00,  2.06s/it]

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
31,3724750965,Online Data Analyst,TELUS International,"Potsdam, Brandenburg, Germany",1 day ago,([Full Professional Proficiency in English and...,Entry level,Contract,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
32,3720129659,Data Engineer Specialist (m/f/d),Qcells Europe,"Berlin, Berlin, Germany",1 week ago,([You create and maintain optimal data pipelin...,Entry level,Full-time,Renewable Energy Semiconductor Manufacturing,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
33,3590312287,Data Center Engineer L2 (On Demand),DeRisk Technologies,"Berlin, Berlin, Germany",5 months ago,"([Servers (Virtual & Physical), Storage & Back...",Associate,Contract,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
34,3700038161,(Senior) Data Analyst (m/w/d),SIXT,"Berlin, Berlin, Germany",3 weeks ago,"([Du bist dafür verantwortlich, aus unterschie...",Mid-Senior level,Full-time,Travel Arrangements,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
35,3700488094,Business Intelligence Consultant (m/f/d) (2),Machine Learning Reply GmbH,"Berlin, Berlin, Germany",3 weeks ago,([Formulate business needs and translate needs...,Entry level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

I will sleep for 4.591 seconds.

In [28]:
display(dataframe)
display(dict)

,id,title,company,city,posting_date,job_description,seniority_level,job_function,industries,scraping_date,url,keyword
0,3707596225,Senior Data Analyst (f/m/d),Clariness,"Berlin, Germany",1 week ago,"([Full-time; unlimited -], [Engaging with key ...",Mid-Senior level,Contract,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
1,3694298306,(Senior) Data Analyst (m/f/d) - Customer Data,MOIA,"Berlin, Germany",1 month ago,([Analyze transactional data to identify trend...,Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
2,3701510210,Data Analyst (w/m/d),Qualitas Energy Deutschland GmbH,"Berlin, Berlin, Germany",3 weeks ago,"([Eigenständiges Durchsuchen, Aufbereiten und ...",Entry level,Full-time,Financial Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
3,3723261476,BI Analyst,Scoutbee,"Berlin, Germany",1 day ago,([Data-driven & analytics mindset : Utilize a ...,Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
4,3641771902,Senior Data Analyst (m/f/d),Pitch,"Berlin, Germany",3 months ago,([Inform and influence our growth and product ...,Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
5,3582381366,Young Professional Client Data Analyst (m/f/d) ←,Talentschmiede Unternehmensberatung AG,"Berlin, Berlin, Germany",5 months ago,([Responsibility for the analysis of data stru...,Entry level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
6,3674803883,(Senior) Data Analyst (all genders),Native Instruments,"Berlin, Germany",2 months ago,"([Evaluate user experience, engagement and pur...",Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
7,3708672280,Senior Data Analyst,Gemma Analytics,"Berlin, Berlin, Germany",3 weeks ago,([2 or more years of experience as an analyst ...,Mid-Senior level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
8,3713235511,Wissenschaftlicher Mitarbeiter / Data Analyst ...,Charité - Universitätsmedizin Berlin,"Berlin, Berlin, Germany",2 weeks ago,([Analyse von Massenzytometriedaten und statis...,Entry level,Full-time,Hospitals and Health Care,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
9,3720128757,DataAnalyst&SystemDeveloper (m/f/d),Qcells Europe,"Berlin, Berlin, Germany",1 week ago,([Sie interagieren und unterstützen unseren Re...,Entry level,Full-time,Renewable Energy Semiconductor Manufacturing,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
10,3694036752,Data Analyst VIE,Alstom,"Hennigsdorf, Brandenburg, Germany",1 month ago,"([Data quality, Define and roll-out strategy f...",Entry level,Full-time,Truck Transportation and Railroad Equipment Ma...,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
11,3712833846,Senior BI Analyst (f/m/d),Enter,"Berlin, Berlin, Germany",1 week ago,([Working software over comprehensive document...,Mid-Senior level,Full-time,Architecture and Planning,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
12,3713068792,Data Analyst (m/w/d) Klimadaten,Michael Page,"Berlin, Berlin, Germany",1 month ago,([Pionier in Grüner Energie|Internationales Un...,Associate,Full-time,"IT Services and IT Consulting, Telecommunicati...",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
13,3690755622,Business Intelligence Analyst (m/f/d) - German...,GotPhoto.com | fotograf.de,"Berlin, Berlin, Germany",1 month ago,([Develop interactive dashboards utilizing Met...,Mid-Senior level,Full-time,Internet Publishing,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
14,3710653394,Data Analyst im Marketing-Bereich (m/w/d),Lloyds Bank GmbH,"Berlin, Berlin, Germany",2 weeks ago,"([Erstellung von Reports, Analysen und Ad-hoc-...",Entry level,Full-time,Banking,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
15,3697730282,Data Extraction and Analysis Engineer,delphai,"Berlin, Berlin, Germany",3 weeks ago,"([Develop, deploy, and maintain web scraping t...",Entry level,Full-time,Software Development,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
16,3688655136,Analytics Engineer,Volt.io,"Berlin, Berlin, Germany",1 month ago,"([Data Model and Architecture Design:, Collabo...",Mid-Senior level,Full-time,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
17,3679310304,Data Engineer (w/m/d),Kassenärztliche Bundesvereinigung,"Berlin, Berlin, Germany",1 month ago,([You will model and implement Business Intell...,Entry level,Part-time,Advertising Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
18,3694113016,Data Scientist / Data Analyst (m/w/d),energicos GmbH,"Kleinmachnow, Brandenburg, Germany",4 weeks ago,([Konzeptionellen und planerischen Aufgaben im...,Entry level,Full-time,"Renewable Energy Semiconductor Manufacturing, ...",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
19,3704998318,Data Engineer (m/f/d),Raisin,"Berlin, Berlin, Germany",3 weeks ago,([Being a member of the Revenue team at Raisin...,Mid-Senior level,Full-time,Banking,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
20,3722320318,Data Engineer (m/w/d),CBTW,"Berlin, Berlin, Germany",2 days ago,([Entwicklung und Umsetzung von Business Intel...,Entry level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
21,3719931304,ESG-Data & Impact Reporting Analyst,DKB | Deutsche Kreditbank AG,"Berlin, Berlin, Germany",1 week ago,([Du unterstützt das Sustainability Office der...,Mid-Senior level,Full-time,Banking,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
22,3463183538,(Junior) Consultant Intelligent Analytics and ...,BearingPoint,"Berlin, Berlin, Germany",2 weeks ago,([Du arbeitest in spannenden Projekten bei der...,Mid-Senior level,Full-time,Business Consulting and Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
23,3699420235,Cloud Data Analyst (m/w/d),Michael Page,"Berlin, Berlin, Germany",3 weeks ago,"([Power BI, SQL und Azure als Alltag|Bundeswei...",Associate,Full-time,"IT Services and IT Consulting, Telecommunicati...",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
24,3582374933,Young Professional Client Data Analyst (m/w/d) ←,Talentschmiede Unternehmensberatung AG,"Berlin, Berlin, Germany",5 months ago,([Sie sind für die Analyse von Datenstrukturen...,Entry level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
25,3715330729,Wissenschaftlicher Mitarbeiter / Data Analyst ...,CHARITE UNIVERSITATSMEDIZIN BERLIN,"Berlin, Berlin, Germany",1 week ago,([Analyse von Massenzytometriedaten und statis...,Mid-Senior level,Full-time,Civic and Social Organizations,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
26,3698380278,Data Analyst:in mit Schwerpunkt Marketing,Vattenfall,"Berlin, Germany",4 weeks ago,([Planung und Weiterentwicklung der Analyseans...,Associate,Full-time,Utilities,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
27,3674539739,Senior Data & BI Analyst (all genders),Universal Music Deutschland,"Berlin, Germany",4 weeks ago,([Du führst eigenverantwortlich ganzheitliche ...,Associate,Full-time,Musicians,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
28,3698393103,Consultant - Digital Analytics (m/w/d) for Berlin,Digitl,"Berlin, Berlin, Germany",4 weeks ago,([As a Consultant Digital Analytics you will d...,Mid-Senior level,Full-time,Advertising Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
29,3712061807,Werkstudent*In (d/w/m) Business Intelligence &...,Business Insider Deutschland,"Berlin, Berlin, Germany",2 weeks ago,([Du unterstützt bei der Erstellung individuel...,Entry level,Part-time,Newspaper Publishing,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
30,3638551593,Data Engineer (f/m/d),BMG - The New Music Company,"Berlin, Germany",3 months ago,"([Work closely with the business users, develo...",Entry level,Full-time,Research and Marketing Services,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
31,3724750965,Online Data Analyst,TELUS International,"Potsdam, Brandenburg, Germany",1 day ago,([Full Professional Proficiency in English and...,Entry level,Contract,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
32,3720129659,Data Engineer Specialist (m/f/d),Qcells Europe,"Berlin, Berlin, Germany",1 week ago,([You create and maintain optimal data pipelin...,Entry level,Full-time,Renewable Energy Semiconductor Manufacturing,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
33,3590312287,Data Center Engineer L2 (On Demand),DeRisk Technologies,"Berlin, Berlin, Germany",5 months ago,"([Servers (Virtual & Physical), Storage & Back...",Associate,Contract,"Technology, Information and Internet",2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
34,3700038161,(Senior) Data Analyst (m/w/d),SIXT,"Berlin, Berlin, Germany",3 weeks ago,"([Du bist dafür verantwortlich, aus unterschie...",Mid-Senior level,Full-time,Travel Arrangements,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst
35,3700488094,Business Intelligence Consultant (m/f/d) (2),Machine Learning Reply GmbH,"Berlin, Berlin, Germany",3 weeks ago,([Formulate business needs and translate needs...,Entry level,Full-time,IT Services and IT Consulting,2023-09-21,https://www.linkedin.com/jobs/search?keywords=...,Data Analyst

None

In [ ]:
keywords_input = ['Data%20Analyst']
keywords = []


# with open(f"webscrap_data/{filename}", 'rb') as file:
#        scraper_df = pickle.load(file)

In [ ]:
# https://www.linkedin.com/jobs/search?keywords=%7Bkey%7D&location=Berlin%2C%20Berlin%2C%20Germany&locationId=&geoId=106967730&f_TPR=&f_PP=106967730&distance=25&f_JT=F&f_E=2%2C3%2C4&position=1&pageNum=0

    # first_url = f"https://www.linkedin.com/jobs/search?keywords={key}&location=Berlin%2C%20Berlin%2C%20Germany&locationId=&geoId=106967730&f_TPR=&distance=25&f_JT=F&f_E=2%2C3&f_PP=106967730&position=1&pageNum=0"

In [ ]:
first_url = f"https://www.linkedin.com/jobs/search?keywords=%7Bkey%7D&location=Berlin%2C%20Berlin%2C%20Germany&locationId=&geoId=106967730&f_TPR=&f_PP=106967730&distance=25&f_JT=F&f_E=2%2C3%2C4&position=1&pageNum=0"

In [ ]:

# soup_dict = {}
# links = {}
# for key in keywords:
#     # first_url = f"https://www.linkedin.com/jobs/search?keywords=%7Bkey%7D&location=Berlin%2C%20Berlin%2C%20Germany&locationId=&geoId=106967730&f_TPR=&f_PP=106967730&distance=25&f_JT=F&f_E=2%2C3%2C4&position=1&pageNum=0"
#     key_name = key.replace('%20', " ")
        
#     # response = requests.get(first_url)
#     # response.status_code # 200 status code means OK!
#     # soup = BeautifulSoup(response.content, "html.parser")
    
#     # number_of_results = soup.find('span', class_="results-context-header__job-count").text
#     # numb = int(number_of_results.replace(",", "").replace("+", ""))
#     # # print(numb) # number of job post found 
    
#     # backend_call_url_list = create_backend_links(first_url, numb, key_name)
#     # with open(f'{key_name}_backend_urls.pkl', 'wb') as file:
#     #     pickle.dump(backend_call_url_list, file)
    
#     # id_list = get_id_dict(backend_call_url_list)
    
#     with tqdm(total=len(id_list), desc="Starting") as pbar:
#         for id in id_list:
#             dynamic_text = f"Progressing id: {id}"
#             pbar.set_description(dynamic_text)
#             if id not in id_control:
#                 try:
#                     scraper_df, id_control, small_soup = get_all_job_information(key_name, scraper_df, id, id_control)
#                     wait_time = randint(1,3000)
#                     pbar.set_description(f"Sleep {wait_time} seconds")
#                     sleep(wait_time/1000)
                    
#                     soup_dict[id] = small_soup
#                 except:
#                     print(f"Error when scraping data from id: {id}, temp backups are created in temp_data.")
#                     scraper_df_json = scraper_df.to_json('dataframe.json', orient='split', date_format='iso', indent=4)
#                     with open(f'temp_data/back_up_df.json', 'wb') as file:
#                         json.dump(scraper_df_json, file=file)
#                     with open('temp_data/small_soup_backup.json', 'w') as f:
#                         json.dump(small_soup, f)
#                     with open('temp_data/id_list_backup.pkl', "wb") as file:
#                         pickle.dump(links, file=file)
#             else:
#                 pbar.set_description(f"Will skip {id} because is already in the dataset.")
#             pbar.update(1)
    
#     current_date = datetime.now()
#     time = current_date.strftime("%Y-%m-%d_%H-%M-%S")
#     time

#     with open(f'webscrap_data/webscrap{str(time)}.pkl', 'wb') as file:
#         pickle.dump(scraper_df, file=file)
#     display(scraper_df.tail(5))
#     wait_time = randint(1,10000)
#     print("I will sleep for " + str(wait_time/1000) + " seconds.")
#     sleep(wait_time/1000)

In [ ]:
# use zlib.compress put into dict with id 
# pickle dict 

response = requests.get(f'https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/3717202675')
soup = BeautifulSoup(response.content, "html.parser")

In [24]:
soup.find("section",{"class":"show-more-less-html"}).text.strip()

"CrazyLabs is a top 5 mobile games publisher with over 6 Billion downloads to date, a worldwide leader in hyper-casual games development, distribution, and innovation.We’re looking for an experienced Game Data Analyst to work closely with the product teams to analyze performance metrics, create insights, and guide data-driven decisions.If you have Passion for Gaming and work in a dynamic fast paced environment then this position is for you! Here’s what we need, up for the challenge?Analyzing large, complex data sets representing the behavior of millions of players to address strategic and operational business questionsOptimization and maximization users monetizationRecommendations for segmented offers based on user segments and behaviorData mining, pattern recognition & correlation analysis and insight generationDefinition, measurement and evaluation of AB test Provide actionable recommendations from game data to shape features, game economy, and future product roadmapsBe involved in building automated dashboards and reports to facilitate company-wide understanding of business KPIs and player experienceIdentify and communicate key trends and potential development improvementsCollaborate with stakeholders to drive insights that will help produce monetization and retention improvementsRecommendations based statistical analysis of data What we're looking for:2+ years of experience as a Data Analyst in a gaming companyBA/B.Sc. in Statistics / Math / Engineering/ Economy or another quantitative fieldA methodological approach for data with the ability to present the data clearly and efficiently to support business decisionsExcellent mathematical and analytical skillsExcel/Google spreadsheet skillsProficient with SQL Experience with Tableau or similar analytical toolsAbility to query data in order to evaluate ongoing player behavior and interests in relation to game featuresAbility to effectively communicate data results and related conclusionsTeam-player with excellent initiative and motivationGreat organizational and problem-solving skillsWhat we offer:Join an experienced, supportive, and creative team of professionalsMake an impact - shape our next hit mobile games, reaching millions of people worldwide! Personal growth - we encourage continuous learning and development within our international teams\n\n\n        Show more\n\n        \n\n\n        Show less"