In [29]:
import os 

os.chdir('c:/Users/Domen/IronHack/01_projects/IH_final_project_data-jobs')
print(os.getcwd())
# Importing necessary libraries

c:\Users\Domen\IronHack\01_projects\IH_final_project_data-jobs

In [30]:
print(os.getcwd())

c:\Users\Domen\IronHack\01_projects\IH_final_project_data-jobs

In [31]:
import winsound
import pygame
from bs4 import BeautifulSoup, NavigableString
import requests
from time import sleep
from random import randint
import math
from tqdm import tqdm
import pickle
import pandas as pd
from datetime import date
from datetime import datetime
import json

import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine, text  # for establishing the connection and authentication
import zlib


# Importing necessary libraries

In [32]:

from src.myModules import my_NLP as myNLP 
from src.myModules import scraper_ds as mybib
from src.myModules import prep as myPrep

%load_ext autoreload
%autoreload 2
# Importing necessary libraries

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
print(os.getcwd())
with open("config/config.json", 'r') as f:
    config = json.load(f)
    
temp_data_path = config["temp_data_path"]
webscrap_data_path = config["webscrap_data_path"]    

print(temp_data_path)
print(webscrap_data_path)


soup_file =  'soup_dict'
keyword_file = 'keyword_dict'
dataframe_output = 'transformed_dataframe'

c:\Users\Domen\IronHack\01_projects\IH_final_project_data-jobs
data/temp_data/
data/webscrap_data/

### load scraped raw data

In [49]:

with open(f"{webscrap_data_path}{soup_file}.pkl", "rb") as f:
    scraper_dict = pickle.load(f)
    
with open(f"{webscrap_data_path}{keyword_file}.pkl", "rb") as f:
    keyword_dict = pickle.load(f)

In [35]:
print(len(scraper_dict))
print(len(keyword_dict))

22079
21879

In [48]:

with open(f"{webscrap_data_path}soup_dictV2.pkl", "rb") as f:
    new_scraper_dict = pickle.load(f)
    
with open(f"{webscrap_data_path}keyword_dictV2.pkl", "rb") as f:
    new_keyword_dict = pickle.load(f)

In [37]:
print(len(new_scraper_dict))
print(len(new_keyword_dict))

14306
14306

In [50]:
keyword_dict.update(new_keyword_dict)
scraper_dict.update(new_scraper_dict)

In [39]:
print(len(scraper_dict))
print(len(keyword_dict))

29302
29265

### transform scraped raw data into df

In [40]:
df = myPrep.transform_scrap_data_to_df(scraper_dict)

100%|██████████| 29302/29302 [19:28<00:00, 25.07it/s]

In [42]:
df["title"].isna().sum()

443

### data cleaning - empty rows
Trying to fill none values doing a second request

NameError: name 'empty_rows' is not defined

In [44]:
cleaned_df = myPrep.null_value_cleaner(df, 4) # increases each round the sleep time for scraping process

100%|██████████| 443/443 [14:41<00:00,  1.99s/it]
100%|██████████| 443/443 [00:12<00:00, 36.75it/s]

Round0: 26 empty values left

100%|██████████| 26/26 [01:02<00:00,  2.41s/it]
100%|██████████| 26/26 [00:00<00:00, 35.33it/s]

Round1: 0 empty values left
Finished in round <built-in function id>

### Add keywords

In [51]:
new_keyword_dict

{'3719620327': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'product_analyst',
  'data_scientist'],
 '3724233663': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_scientist',
  'data_analyst',
  'data_engineer',
  'data_scientist'],
 '3722456887': ['Data Analyst',
  'Data Engineer',
  'Data Engineer',
  'Data Architect',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'data_analyst',
  'data_engineer',
  'data_scientist'],
 '3713133845': ['Data Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'data_engineer',
  'data_analyst',
  'data_engineer',
  'business_analyst',
  'product_analyst',
  'business_intelligence_analyst',
  'analysis_engineer',
  'data_scientist',
  'machine_learning_engineer',
  'ai_engineer',
  'cloud_engineer',
  'cloud_engineer',
  'deep_learning_engineer',
  'reporting_analyst'],
 '3727896816': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'data_scientist',
  'data_analyst'],
 '3708490416': ['Data Analyst',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'product_analyst'],
 '3720365801': ['Data Analyst',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'data_analyst',
  'data_engineer',
  'analysis_engineer',
  'data_scientist',
  'data_scientist',
  'machine_learning_engineer',
  'data_analyst',
  'data_engineer',
  'analysis_engineer',
  'data_scientist',
  'machine_learning_engineer',
  'data_analyst',
  'data_engineer',
  'analysis_engineer',
  'data_scientist'],
 '3721905834': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'data_scientist'],
 '3684585086': ['Data Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'machine_learning_engineer',
  'machine_learning_engineer'],
 '3723986556': ['Data Analyst',
  'Data Engineer',
  'Data Engineer',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'data_analyst',
  'data_engineer',
  'business_analyst',
  'business_analyst',
  'data_scientist'],
 '3713809714': ['Data Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'reporting_analyst'],
 '3704916810': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'product_analyst'],
 '3714114129': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'data_analyst'],
 '3709621012': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'business_analyst',
  'product_analyst',
  'analysis_engineer',
  'data_scientist',
  'data_scientist'],
 '3724707874': ['Data Analyst',
  'Data Visualization Specialist',
  'data_analyst',
  'product_analyst'],
 '3707596225': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst'],
 '3702244695': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer'],
 '3706774867': ['Data Analyst',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst'],
 '3722170530': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'reporting_analyst'],
 '3725024965': ['Data Analyst',
  'Data Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'reporting_analyst',
  'data_analyst',
  'business_analyst',
  'business_analyst',
  'reporting_analyst'],
 '3709672083': ['Data Analyst',
  'Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer'],
 '3719405734': ['Data Analyst',
  'Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'product_analyst'],
 '3724264021': ['Data Analyst',
  'Data Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'business_intelligence_analyst',
  'reporting_analyst',
  'reporting_analyst',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'business_intelligence_analyst'],
 '3719996482': ['Data Analyst',
  'Data Analyst',
  'Data Engineer',
  'Data Engineer',
  'Data Engineer',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst'],
 '3724262183': ['Data Analyst',
  'Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Manager',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'data_scientist',
  'data_analyst',
  'data_engineer',
  'reporting_analyst',
  'reporting_analyst'],
 '3713487910': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'data_analyst'],
 '3691406429': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'data_analyst'],
 '3726368814': ['Data Analyst',
  'Data Engineer',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'data_analyst',
  'data_engineer',
  'business_analyst',
  'business_analyst'],
 '3709394151': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'product_analyst'],
 '3674598449': ['Data Analyst',
  'Business Intelligence Analyst',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'business_intelligence_analyst',
  'reporting_analyst'],
 '3666792157': ['Data Analyst',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'data_analyst',
  'reporting_analyst'],
 '3722005706': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'Data Consultant',
  'data_analyst',
  'machine_learning_engineer',
  'reporting_analyst'],
 '3709323531': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Manager',
  'data_analyst',
  'data_engineer'],
 '3714672916': ['Data Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_analyst',
  'data_scientist'],
 '3713886419': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'data_analyst',
  'data_engineer',
  'data_scientist',
  'data_scientist',
  'reporting_analyst'],
 '3675386073': ['Data Analyst',
  'Business Intelligence Analyst',
  'Business Intelligence Analyst',
  'Data Consultant',
  'Data Manager',
  'business_analyst',
  'business_intelligence_analyst'],
 '3707908211': ['Data Analyst',
  'Data Engineer',
  'Data Engineer',
  'Data Architect',
  'Machine Learning Engineer',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'data_analyst',
  'reporting_analyst'],
 '3717206500': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'data_engineer',
  'machine_learning_engineer',
  'reporting_analyst'],
 '3715197199': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_engineer'],
 '3725424456': ['Data Analyst',
  'Data Consultant',
  'data_analyst',
  'product_analyst',
  'data_analyst',
  'product_analyst',
  'reporting_analyst',
  'product_analyst',
  'data_scientist'],
 '3708829631': ['Data Analyst',
  'Data Engineer',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'data_engineer'],
 '3713020151': ['Data Analyst', 'Data Analyst', 'Data Consultant'],
 '3710653319': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'data_engineer',
  'data_engineer'],
 '3726658813': ['Data Analyst',
  'Data Analyst',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'business_analyst',
  'business_intelligence_analyst',
  'reporting_analyst',
  'business_analyst',
  'business_analyst',
  'product_analyst',
  'business_intelligence_analyst',
  'reporting_analyst',
  'data_analyst',
  'data_engineer',
  'business_analyst',
  'business_intelligence_analyst',
  'data_scientist',
  'data_scientist',
  'machine_learning_engineer',
  'ai_engineer',
  'ai_engineer',
  'cloud_engineer',
  'cloud_engineer',
  'cloud_engineer',
  'reporting_analyst'],
 '3717077812': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Consultant',
  'Data Manager'],
 '3710873356': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Manager',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst'],
 '3713040768': ['Data Analyst',
  'Data Engineer',
  'Data Engineer',
  'Data Engineer',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager'],
 '3717722594': ['Data Analyst', 'Data Manager'],
 '3708485850': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'data_engineer'],
 '3716429919': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'data_engineer',
  'data_analyst',
  'data_scientist'],
 '3721290067': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'data_analyst',
  'data_scientist'],
 '3713044156': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'data_engineer',
  'data_engineer'],
 '3708375784': ['Data Analyst',
  'Machine Learning Engineer',
  'Data Visualization Specialist',
  'Data Visualization Specialist',
  'Quantitative Analyst',
  'Quantitative Analyst',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'data_scientist',
  'machine_learning_engineer',
  'ai_engineer'],
 '3715644103': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'data_engineer'],
 '3718972779': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Quality Analyst',
  'data_engineer',
  'business_analyst',
  'reporting_analyst',
  'data_scientist'],
 '3713367502': ['Data Analyst',
  'Data Consultant',
  'Data Quality Analyst',
  'data_analyst'],
 '3706371923': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_engineer'],
 '3723314893': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer'],
 '3705818750': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst'],
 '3716725469': ['Data Analyst',
  'Data Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'Data Manager',
  'data_engineer'],
 '3719972463': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Quality Analyst'],
 '3718518774': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Machine Learning Engineer',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'data_engineer',
  'data_scientist',
  'data_scientist',
  'data_scientist',
  'machine_learning_engineer'],
 '3711895078': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'Data Consultant',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'data_engineer'],
 '3706091445': ['Data Analyst',
  'Data Scientist',
  'Machine Learning Engineer',
  'Quantitative Analyst',
  'Quantitative Analyst',
  'data_scientist',
  'machine_learning_engineer',
  'machine_learning_engineer',
  'ai_engineer',
  'ai_engineer',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'data_scientist',
  'machine_learning_engineer',
  'reporting_analyst'],
 '3720128757': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'Data Consultant',
  'Data Consultant',
  'Data Manager',
  'data_engineer',
  'data_engineer'],
 '3711692443': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'data_scientist',
  'data_scientist',
  'data_analyst',
  'data_engineer',
  'business_analyst',
  'product_analyst',
  'business_intelligence_analyst',
  'data_scientist'],
 '3674299855': ['Data Analyst',
  'Machine Learning Engineer',
  'Data Visualization Specialist',
  'Data Consultant',
  'data_engineer',
  'machine_learning_engineer',
  'cloud_engineer'],
 '3725846617': ['Data Analyst',
  'Data Quality Analyst',
  'product_analyst',
  'product_analyst',
  'data_engineer',
  'business_analyst',
  'reporting_analyst',
  'reporting_analyst'],
 '3717620304': ['Data Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_analyst'],
 '3726487430': ['Data Analyst',
  'Data Engineer',
  'Machine Learning Engineer',
  'Machine Learning Engineer',
  'Big Data Engineer',
  'Data Consultant',
  'data_engineer',
  'data_scientist',
  'machine_learning_engineer',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'machine_learning_engineer'],
 '3708806075': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst'],
 '3674604294': ['Data Analyst',
  'Data Engineer',
  'Data Architect',
  'Machine Learning Engineer',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'data_analyst',
  'data_engineer',
  'data_scientist',
  'machine_learning_engineer',
  'data_analyst',
  'data_engineer',
  'machine_learning_engineer'],
 '3508748216': ['Data Analyst', 'Data Quality Analyst', 'data_analyst'],
 '3719971767': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Visualization Specialist',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst'],
 '3707153912': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_engineer',
  'data_engineer'],
 '3720825257': ['Data Analyst',
  'Data Visualization Specialist',
  'data_engineer'],
 '3726673965': ['Data Analyst',
  'Machine Learning Engineer',
  'Data Visualization Specialist',
  'Big Data Engineer',
  'data_engineer',
  'data_scientist',
  'data_scientist',
  'machine_learning_engineer',
  'data_engineer',
  'data_scientist',
  'machine_learning_engineer',
  'data_analyst',
  'data_engineer',
  'data_scientist'],
 '3670095589': ['Data Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Quality Analyst',
  'data_analyst',
  'data_analyst',
  'data_engineer',
  'business_analyst',
  'product_analyst',
  'analysis_engineer',
  'machine_learning_engineer',
  'ai_engineer',
  'ai_engineer',
  'cloud_engineer',
  'deep_learning_engineer',
  'reporting_analyst'],
 '3703773720': ['Data Analyst',
  'Data Visualization Specialist',
  'Quantitative Analyst',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'data_analyst',
  'data_analyst',
  'data_analyst',
  'data_engineer',
  'data_engineer',
  'business_analyst',
  'business_intelligence_analyst',
  'reporting_analyst'],
 '3715608872': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Manager',
  'Data Quality Analyst'],
 '3712833846': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Quality Analyst',
  'product_analyst'],
 '3702040565': ['Data Analyst',
  'Data Visualization Specialist',
  'Data Consultant',
  'data_engineer'],
 '3725424540': ['Data Analyst',
  'Business Intelligence Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'Data Consultant',
  'Data Quality Analyst',
  'Data Quality Analyst',
  'data_analyst',
  'data_engineer',
  'business_intelligence_analyst'],
 '3715816443': ['Data Analyst',
  'Data Architect',
  'Data Consultant',
  'Data Quality Analyst',
  'data_analyst',
  'reporting_analyst',
  'reporting_analyst'],
 '3688495290': ['Data Analyst',
  'Data Consultant',
  'data_engineer',
  'machine_learning_engineer',
  'data_analyst',
  'machine_learning_engineer'],
 '3724234849': ['Data Analyst',
  'Data Architect',
  'Data Visualization Specialist',
  'data_analyst',
  'data_engineer',
  'data_scientist',
  'machine_learning_engineer'],
 '3703776281': ['Data Analyst',
  'Data Visualization Specialist',
  'Quantitative Analyst',
  'Data Consultant',
  'Data Manager',
  'Data Quality Analyst',
  'Data Quality Analyst'],
 '3703774500': ['Data Analyst',
  'Data Visualization Specialist',
  'Quantitative Analyst',
  'Data Consultant',
  'Data Quality Analyst'],
 '3725401052': ['Data Analyst',
  'Data Architect',
  'Data Architect',
  'Data Consultant',
  'Data Manager',
  'data_analyst',
  'business_analyst',
  'business_analyst',
  'business_intelligence_analyst',
  'reporting_analyst',
  'data_analyst',
  'business_analyst',
  'product_analyst',
  'business_intelligence_analyst',

In [52]:
small_dict = {}
for key in keyword_dict:
    small_dict[key] = keyword_dict[key][0]

In [53]:
cleaned_df['keyword'] = cleaned_df['id'].map(small_dict)

### Add language

In [54]:

cleaned_df = myNLP.add_language_values_to_df(cleaned_df, search_column = 'job_description') # add language values

Processing: 100%|██████████| 29302/29302 [05:08<00:00, 94.97it/s]

### Save data

In [55]:
myPrep.save_cleaned_df(cleaned_df, dataframe_output)